
#commands {
    padding: 0% 0;
    border: 1px solid #aaaaaa;
    display: inherit;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: .5%;
    top: 3%;
    width: 60px;
    height: 25px;
    background-color: var(--grey-alpha);
}

.check-container {
    width: 50%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-container .checkbox {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    height: 75%;
    width: 65%;
    border: 2px solid var(--purple);
    border-radius: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;
}


.checkbox::after{
    font: var(--fa-font-solid);
    content: "\f00c";
    font-weight: bold;
    font-size: 1em;
    color: var(--white);
    display: none;

}

.checkbox:hover {
    background: var(--grey-alpha-act);
    color: var(--white);
}

.check-containerv:hover   {
    background: var(--grey-alpha-act);
}


.checkbox:checked {
    background-color: var(--purple);
}

.checkbox:checked::after{
    display: flex;
}



.delete {
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 50%;
    cursor: pointer;
    font-size: 1.2em;
    height: 100%;
    border: none;
    border-left: 1px solid #aaaaaa;
    background-color: transparent;
    transition: all .2s;
}

.delete i {
    color: var(--red);
}

.delete:hover {
    background: var(--grey-alpha-act);
}


.checkbox:active, 
.delete:active {
    transform: scale(.9);
}

