 #sec-input-task { 
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 5% 0 4% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-task-form {
    border-radius: 1em;
    width: 80%;
    display: inherit;
    overflow: hidden;
    box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.253);
    transition: all .5s;
}

#input-task-form:hover {
    transform: scaleY(1.1);
}


#input-task {
    width: 100%;
    padding: 2.5% 0;
    padding-left: 3%;
    background-color: var(--grey-alpha);
    border: none;
    border-radius: 1em 0 0 1em;
    color: var(--purple);
    font-size: 1.15em;
    font-weight: 600;
    transition: all .5s;
    
}




#input-task:focus {
    outline: none;
}

#input-task::placeholder {
    font-weight: bold;
}


#create-task {
    border: none;
    border-radius: 0 1em 1em 0;
    border-left: 1px solid #aaaaaa;
    width: 10%;
    background-color: var(--grey-alpha);   
    transition: all .5s; 
}



#create-task i {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--purple);
    font-size: 1.2em;
    font-weight: bold;
}


#input-task-form:hover #input-task,
#input-task-form:hover #create-task {
    background-color: var(--grey-alpha-act);
} 

#create-task:hover {
    cursor: pointer;
}

#create-task:active i {
    color: var(--orange);
}



