@import url(root.css);
@import url(input-task.css);
@import url(show-task.css);
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    height: auto;
}

html {
    height: 100vh;
}

body {
    min-height: 100%;
    background-color: var(--grey-bg);
    color: var(--black);
}

li {
    list-style: none;
}

#header {
    background-color: var(--orange);
    display: flex;
    align-items: center;
    padding: 1% 0;
    height: 10%;
    padding-left: 5%;
}

#header .bx {
    color: var(--white);
    font-size: 1.2em;
}

h1 {
  color: var(--white);  
}


#main {
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 9.8% 0;
}



footer {
    padding: 2% 0;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--border-grey);
}




