#show-task-article {
    width: 80%;
    border-radius: 1em;
    background-color: var(--grey-alpha);
    margin-top: 5%;
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.253);
}


#show-task-article h3 {
    border-bottom: 1px solid var(--border-grey);
    margin: 0%;
    margin-top: .5%;
    width: 100%;
    padding-top: 1%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    color: var(--dark-grey);
}


#task-container {
    border: 2px dashed var(--border-grey);
    background-color: var(--grey-bg);
    width: 80%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: .5% 0;
    margin: 2.5% auto;
}


#task-container .task {
    width: 100%;
    text-align: justify;
    padding: 3% 2% 2% 2%;
    font-size: 1.05em;
    letter-spacing: 0.05em;
}




